[submodule "implementations/sha3-256"]
	path = c-implementations/sha3-256
	url = https://github.com/shady33/sha3-256.git
[submodule "implementations/cgminer"]
	path = c-implementations/cgminer
	url = https://github.com/ckolivas/cgminer.git
[submodule "implementations/pshep-cgminer"]
	path = c-implementations/pshep-cgminer
	url = https://github.com/pshep/cgminer.git
[submodule "implementations/nettle"]
	path = c-implementations/nettle
	url = https://git.lysator.liu.se/nettle/nettle.git
[submodule "implementations/tiny_sha3"]
	path = c-implementations/tiny_sha3
	url = https://github.com/mjosaarinen/tiny_sha3.git
[submodule "implementations/RHash"]
	path = c-implementations/RHash
	url = https://github.com/rhash/RHash.git
[submodule "implementations/SHA3IUF"]
	path = c-implementations/SHA3IUF
	url = https://github.com/brainhub/SHA3IUF.git
